body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: block;
    border: solid 2px black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* batman */
.batman {
    background: url('images/batman-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.batman:hover {
    background: url('images/batman-hover.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: ease-in-out .7s;
}

/* superman */
.superman {
    background: url('images/superman-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.superman:hover {
    background: url('images/superman-hover.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: ease-in-out .7s;
}

/* wonder woman */
.wonder-woman {
    background: url('images/ww-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wonder-woman:hover {
    background: url('images/ww-hover.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: ease-in-out .7s;
}
